.v-btn {
  text-transform: none;
  margin: 10px;
  font-size: 16px;
}

.good-count {
  color: black;
}

v-app-bar {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}

.v-app-bar-title {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

.router-link-exact-active {
  color: white;
  text-decoration: none;
}

.home {
  background-image: url("~@/assets/ramen-bg.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-cont {
  position: relative;
  z-index: 1;
}

.home::after {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.margin-buttom {
  margin-bottom: 80px;
}

.message {
  background: url("~@/assets/ramen-bg.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.messages-list {
  color: rgba(255, 255, 255, 0.5)!important;
  border-color: pink !important;
  max-width: 400px;
  position: relative;
  padding: 20px 10px 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.link-text:link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.link-text:hover {
  color: gray;
}

.text-field {
  max-width: 80%;
}

.profile {
  background: url("~@/assets/ramen-bg.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.delete-btn {
  margin-top: 0;
}

